services:
  piper-arm:
    image: piper-arm
    container_name: piper-arm
    hostname: dev
    shm_size: 8g
    environment:
      - TERM=${TERM}
      - PYTHONDONTWRITEBYTECODE=1
      - WANDB_API_KEY
      - HF_TOKEN
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - ../piper_arm:/work/piper_arm
      - ../outputs:/work/outputs
